<?xml version="1.0"?>
<!--
Version: 4.0 (Simulation with 16 drones)
Prepared by: Shaiful Nizam
Prepared on: 2022/05/23
Note: This launch file will be included by flood_monitor.launch to load the world.
-->
<launch>
  <!--<arg name="world" default="$(find flood_monitor_16)/worlds/world01.world"/>-->
  <!--<arg name="world" default="$(find flood_monitor_16)/worlds/world01a.world"/>-->
  <!--<arg name="world" default="$(find flood_monitor_16)/worlds/world02.world"/>-->
  <arg name="world" default="$(find flood_monitor_16)/worlds/world03.world"/>
  <!--<arg name="world" default="$(find flood_monitor_16)/worlds/world04.world"/>-->
  <!--<arg name="world" default="$(find flood_monitor_16)/worlds/world05.world"/>-->
  <arg name="gui" default="true"/>
  <arg name="args" default=""/>
  
  <param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world) $(arg args)" respawn="false" output="screen"/>
  
  <!-- Start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>


</launch>
