<?xml version="1.0"?>
<launch>
	<group ns="drone07">
		<!-- For control of the drone -->
		<include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">
	
			<!-- Name of the drone -->
			<arg name="name" default="drone07"/>
			<arg name="tf_prefix" value="drone07"/>
	
			<!-- For rendering of the drone -->
			<arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor_downward_cam_red.gazebo.xacro"/>
	
			<!-- Starting position for drones -->
			<arg name="x" default="-60.0"/>
			<arg name="y" default="0.0"/>
			<arg name="z" default="0.2"/>
		</include>
	</group>
</launch>