<?xml version="1.0"?>
<launch>
	<group ns="drone02">
		<!-- For control of the drone -->
		<include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch">

			<!-- Name of the drone -->
			<arg name="name" default="drone02"/>
			<arg name="tf_prefix" value="drone02"/>
	
			<!-- For rendering of the drone -->
			<arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor_downward_cam_red.gazebo.xacro"/>
	
			<!-- Starting position for drone -->
			<arg name="x" default="-62.0"/>
			<arg name="y" default="2.0"/> 
			<arg name="z" default="0.2"/>		
		</include>
	</group>
</launch>